
section{
	margin-top: 20px;
}
.sespan{
	font-size: 30px;
	margin-left: 30px;
	color: #444444;

}
.arttr1 img{
	width: 250px;
	height: 250px;
	border-radius: 30px;
}

.arttr1 td{
	text-align: center;
	width: 25%;
	height: 300px;
}
.arttr2 img{
	width: 500px;
	height: 300px;
}
.arttr2 td{
	padding: 30px;
	text-align: center;
	
}

.arttr td{
	text-indent: 50px;	
	font-size: 24px;
	color: #444444;
}
.arttr3 img{
	width: 400px;
	height: 600px;
}
.arttr3 td{
	padding: 30px;
	text-align: center;
	
}